* {
    box-sizing: border-box;
    margin: 0 5%;
    padding: 0;
    text-decoration: none;
}

.hero_coppel-salud {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 4rem;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.hero-container img {
    width: 40%;
}

.hero_coppel-salud>img {
    width: 100%;
}

.main_btn {
    font-size: 1rem;
    background-color: rgb(0, 132, 255);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: all 0.35s;
}

.servicios {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 0;
    margin-top: 4rem;
}

.servicios-informacion {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.servicios_ofrecidos {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.servicio-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    border: 1px solid rgb(206, 201, 201);
    border-radius: 10px;
    margin: 2rem;
}

.servicio-section:hover {
    border: 1px solid rgb(0, 132, 255);
}

.servicio-section a {
    color: rgb(0, 132, 255);
}

.beneficios {
    padding: 2rem;
    background-color: rgba(240, 245, 250, 255);
}

.beneficios-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
    margin-top: 2rem;
}

.beneficios>h2 {
    text-align: center;
}

.credito_coppel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 5px;
    margin: 4rem;
}

.credito_coppel>.description-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 2rem;
}

.credito_coppel img {
    width: 100%;
}

.description-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}


.farmaLeal-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem;
}

.farmaLeal-section>p {
    text-align: center;
    width: 60%;
}

.farmaLeal-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    width: 50%;
}


.farmacia-iconos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 20px;
}

.icono {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgb(206, 201, 201);
    border-radius: 10px;
    padding: 5px;
}

.icono:hover {
    border: 1px solid rgb(0, 132, 255);
}

.farmacia-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem;
}

.bienestar-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: rgba(240, 245, 250, 255);
    padding: 2rem;
}

.bienestar-section img {
    width: 100%;
}

.bienestar-description {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.bienestar-description a {
    color: rgb(0, 132, 255);
}

.opiniones-section {
    text-align: center;
}

.clientes {
    margin: 2rem;
}

.opinion-cliente {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 2rem;
}

.cliente {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cliente .description {
    text-align: center;
}

.conectar-futuro {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 4rem;
    background-color: rgba(240, 245, 250, 255);
}

.conectar-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 2rem;
}

.everHealth {
    display: flex;
}

.conectar-futuro>img {
    max-height: 200px;
    width: 80%;
}

.modulo-coppel {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    padding: 2rem;
    background-color: rgba(240, 245, 250, 255);
}

.modulo-coppel>img {
    max-height: 300px;
    width: 80%;
    border-radius: 20px;
}

.conectar-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 5px;
}

.conectar-description select {
    width: 100px;
}

.conectar-description button {
    margin-top: 1rem;
}

.mas-informacion {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 2rem;
}

.mas-informacion .descripcion {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.mas-informacion .preguntas {
    display: flex;
    flex-direction: column;
}

.mas-informacion .pregunta {
    display: grid;
    grid-template-columns: 11fr 1fr;
    border: 1px solid rgb(206, 201, 201);
    padding: 1rem;
}

.mas-informacion .pregunta:nth-child(1) {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.mas-informacion .pregunta:nth-child(5) {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.mas-informacion .pregunta:hover {
    background-color: aliceblue;
}

@media screen and (max-width: 480px) {

    .hero_coppel-salud,
    .servicios_ofrecidos,
    .beneficios-section,
    .credito_coppel,
    .farmacia-iconos,
    .bienestar-section,
    .conectar-futuro {
        display: grid;
        grid-template-columns: 1fr;
    }

    .servicio-section img {
        width: 20%;
    }

    .opinion-cliente {
        display: grid;
        grid-template-columns: 1fr;
        gap: 2rem;
    }

    .everHealth,
    .modulo-coppel,
    .mas-informacion,
    .farmaLeal-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 1rem;
    }
}